{% block paragraph %}
	{% embed "@hdbt/misc/component.twig" with
    {
      component_classes: [ 'component--list-of-plans' ],
      component_title: title,
      component_description: description,
      component_content_class: 'list-of-plans',
    }
  %}
		{% block component_content %}

      <span class="list-of-plans__count-container">
        <span class="list-of-plans__count">{{ plan_count }}</span>
        {{ 'plans now open for comments'|t({}, {'context': 'List of plans number of comments'}) }}
      </span>

      {% if plan_count == 0 %}

        <h3>
          {{ 'There are no plans open for comments at the moment.'|t({}, {'context': 'List of plans no plans title'}) }}
        </h3>

        <div>
          {{ 'New plans are coming, so please visit again later.'|t({}, {'context': 'List of plans no plans description'}) }}
        </div>

      {% else %}

        <div class="list-of-plans__list">

          {% for plan in plans %}
            <div class="list-of-plans__plan">
              <h3 {{ title_attributes.addClass('plan__title') }}>
                {{ plan.title }}
              </h3>

              <div class="plan__published">
                {{ 'Published:'|t({}, {'context': 'List of plans publish date'}) }}
                {{ plan.pub_date }}
              </div>

              {{ plan.link }}
            </div>
          {% endfor %}

          {% if plan_count > 8 %}
            <a href="#" class="hds-button hds-button--primary pager-button .pager" rel="next">
              <span class="hds-button__label">{{ 'Show more plans'|t({}, {'context': 'List of plans show more button'}) }}</span>
            </a>
          {% endif %}

        </div>

      {% endif %}

      {% set link_title %}
        {{ 'Subscribe to RSS feed of plans'|t({}, {'context': 'List of plans RSS link'}) }}
      {% endset %}

      {{ link(link_title, rss_feed_url) }}

		{% endblock component_content %}
	{% endembed %}
{% endblock paragraph %}
