{%
  set classes = [
    'project-teaser',
  ]
%}

{% set link_title %}
  {{ title_prefix }}
  <h3 class="content-card__title">
    {{ label }}
  </h3>
  {{ title_suffix }}
{% endset %}

{% set link_attributes = {
  'class': [
    'project-teaser__link',
  ],
  'rel': 'bookmark',
} %}

<div{{ attributes.addClass(classes) }}>

  <div class="project-teaser__image">
    {% if content.field_project_image.0 %}
      {{ content.field_project_image }}
    {% else %}
      {% include '@hdbt/media/image--card.html.twig' with {content: '' } %}
    {% endif %}
  </div>
  <div class="project-teaser__data">
    <div>
      {{ link(link_title, node_url, link_attributes) }}
      {# Tags #}
      {% if content.field_project_phase|render %}
        {% embed '@hdbt/misc/tag-list.twig'%}
          {% block content %}
            {% if content.field_project_phase|render %}
              {% for key in content.field_project_phase['#items']|keys %}
                {% include '@hdbt/misc/tag.twig' with {
                  tag: content.field_project_phase[key],
                }%}
              {% endfor %}
            {% endif %}
          {% endblock content %}
        {% endembed %}
      {% endif %}
    </div>
    <div>
      {% include '@hdbt/misc/metadata-item.twig' with { 
        item_icon: 'calendar',
        item_label: 'Project schedule'|t,
        item_content: content.field_project_execution_schedule,
      }%}
      {% include '@hdbt/misc/metadata-item.twig' with { 
        item_icon: 'location',
        item_label: 'Project location'|t,
        item_content: content.field_project_district,
      }%}
    </div>
    {% include "@hdbt/misc/icon.twig" with {icon: 'arrow-right' } only %}
  </div>
</div>
