{%
  set classes = [
    'node--type-' ~ node.bundle|clean_class,
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    node_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label and not page and view_mode is not same as('full') %}
    <h2{{ title_attributes }}>
      {% set link_attributes = {
        'rel': 'bookmark',
      } %}
      {{ link(label, node_url, link_attributes) }}
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% block main_content %}

    {# Tags #}
    {% if content.field_project_type|render %}
      {% set tag_content %}
        <span>{{ 'Project'|t({}, {'context': 'Project page tag'}) }}</span>
      {% endset %}
      {% embed '@hdbt/misc/tag-list.twig'%}
        {% block content %}
          {% include '@hdbt/misc/tag.twig' with {
            tag: tag_content,
          }%}
          {% if content.field_project_type|render %}
            {% for key in content.field_project_type['#items']|keys %}
              {% set tag_content %}
                <span>{{ content.field_project_type[key] }}</span>
              {% endset %}
              {% include '@hdbt/misc/tag.twig' with {
                tag: tag_content,
              }%}
            {% endfor %}
          {% endif %}
        {% endblock content %}
      {% endembed %}
    {% endif %}

    {{ content.field_lead_in }}
    <figure class="project__image-container">
      {{ content.field_project_image }}
      {% if content.field_project_image.0['#media'].field_photographer.value %}
        {% embed '@hdbt/misc/caption.twig' with {
          caption_identifier_class: 'project__image-caption',
          credit: content.field_project_image.0['#media'].field_photographer.value,
        } %}
        {% endembed %}
      {% endif %}
    </figure>

    {% if content.field_project_plan_schedule|render and content.field_project_execution_schedule|render %}
      {% set schedule_label = 'Estimated schedule'|t %}
      {% set schedule_content %}
        <span class="project-metadata__schedule">{{'Plan:'|t({}, {'context': 'Plan schedule label'})}} {{ content.field_project_plan_schedule }}</span>
        <span class="project-metadata__schedule">{{'Execution:'|t({}, {'context': 'Execution schedule label'})}} {{ content.field_project_execution_schedule }}</span>
      {% endset %}
    {% elseif content.field_project_plan_schedule|render and not content.field_project_execution_schedule|render %}
      {% set schedule_label = 'Project plan schedule'|t %}
      {% set schedule_content = content.field_project_plan_schedule %}
    {% else %}
      {% set schedule_label = 'Project execution schedule'|t %}
      {% set schedule_content = content.field_project_execution_schedule %}
    {% endif %}

    {% set metadata = [
      { label: 'Project phase'|t, icon: 'calendar-clock', content: content.field_project_phase },
      { label: 'Project theme'|t, icon: 'locate', content: content.field_project_theme },
      { label: schedule_label, icon: 'calendar', content: schedule_content },
      { label: 'Project location'|t, icon: 'location', content: district_titles }
    ] %}

    <div class="project__metadata-wrapper">
      {% include '@hdbt/misc/metadata-wrapper.twig' with { items: metadata }%}
    </div>

    {{ content.field_content}}

  {% endblock main_content %}

</article>
