{% set card_image %}
  {% if content.field_district_image.0 %}
    {{ content.field_district_image }}
  {% else %}
    {% include '@hdbt/media/image--card.html.twig' with {content: '' } %}
  {% endif %}
{% endset %}

{% embed '@hdbt/component/card.twig' with {
    card_modifier_class: 'card--district',
    card_image: card_image,
    card_title: label,
    card_url: node_url,
    card_category_tag: {
      tag: 'District'|t,
      color: 'coat-of-arms',
    },
    card_metas: content.field_subdistricts.0 ? [
      {
        icon: 'location',
        label: 'Districts'|t,
        content: content.field_subdistricts,
      },
    ],
  } %}
{% endembed %}

{#  # }
{%
  set classes = [
    'district-teaser',
    'node--type-' ~ node.bundle|clean_class,
  ]
%}

{% set link_title %}
  {{ title_prefix }}
  <h3 class="content-card__title">
    {{ label }}
  </h3>
  {{ title_suffix }}
{% endset %}

{% set link_attributes = {
  'class': [
    'district-teaser__link',
  ],
  'rel': 'bookmark',
} %}

<article{{ attributes.addClass(classes) }}>
  <div class="district-teaser__image">
    {% if content.field_district_image.0 %}
      {{ content.field_district_image }}
    {% else %}
      {% include '@hdbt/media/image--card.html.twig' with {content: '' } %}
    {% endif %}
  </div>
  <div class="district-teaser__data">
    {% set tag_content %}
      <span>{{ 'District'|t }}</span>
    {% endset %}
    {% embed '@hdbt/misc/tag-list.twig'%}
      {% block content %}
        {% include '@hdbt/misc/tag.twig' with {
          color: 'coat-of-arms',
          tag: tag_content
        }%}
      {% endblock content %}
    {% endembed %}
    {{ link(link_title, node_url, link_attributes) }}
    {% if content.field_subdistricts.0 %}
      {% include '@hdbt/misc/metadata-item.twig' with {
        item_icon: 'location',
        item_label: 'Districts'|t,
        item_content: content.field_subdistricts,
      }%}
    {% endif %}

    {% include "@hdbt/misc/icon.twig" with {icon: 'arrow-right' } only %}
  </div>
</article>
{#  #}
