{% block paragraph %}
	{% embed "@hdbt/misc/component.twig" with
    {
      component_classes: [
        'component--full-width',
        'component--list-of-plans'
      ],
      component_title: title,
      component_description: description,
      component_content_class: 'list-of-plans',
    }
  %}
		{% block component_content %}

      {% if plan_count > 1 %}
        <h3 class="list-of-plans__count-container">
          {{ plan_count}} {{ 'plans now available for comments'|t({}, {'context': 'List of plans number of comments'}) }}
        </h3>
      {% endif %}

      {% if plan_count == 0 %}

        <p>{{ 'There are new plans coming up, so please check back later.'|t({}, {'context': 'List of plans no plans description'}) }}</p>

      {% else %}

        <div class="list-of-plans__list">

          {% for plan in plans %}
            {% embed '@hdbt/component/card.twig' with {
              card_modifier_class: 'card--list-of-plans',
              card_title_level: 'h3',
              card_title_lang: 'fi',
              card_title: plan.title,
              card_url: plan.link,
              card_metas: [
                {
                  icon: 'clock',
                  label:  'Published'|t({}, {'context': 'List of plans publish date'}),
                  content: plan.pub_date,
                }
              ],
            } %}
            {% endembed %}
          {% endfor %}

            {% set link_title %}
              {{ 'Subscribe to the plans\' RSS feed'|t({}, {'context': 'List of plans RSS link'}) }}
            {% endset %}

          {% include '@hdbt/misc/feed-icon.html.twig' with {
            link_title: link_title,
            url: rss_feed_url,
          }%}

          {{ pager }}

        </div>

      {% endif %}

		{% endblock component_content %}
	{% endembed %}
{% endblock paragraph %}
