{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'views',
    'views--' ~ id|clean_class,
    'views--' ~ display_id|clean_class,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
{% if (view.args.1) %}
  {% set  search_parameters = view.args.1 %}
{% else %}
  {% set search_parameters = '' %}
{% endif %}

<div{{attributes.addClass(classes)}}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {% if total_rows > 0 %}
    <h3 class="project-list__count-container">
      <span class="project-list_count">{{ total_rows }}</span>
      <span class="project-list_count-text">{{ 'projects'|t({}, {'context': 'Project list, amount of projects'}) }}</span>
    </h3>
  {% else %}
    <p>{{ 'There are no projects in this district.'|t({}, {'context': 'Project list, no projects description'}) }}</p>
  {% endif %}

  {{ exposed }}
  {{ attachment_before }}

  {{ rows }}

  {{ empty }}
  <div class="project-list__buttons">
    {{ pager }}
    {% if search_link %}
      <a href="{{ search_link }}{{ search_parameters }}" class="hds-button hds-button--secondary" rel="next">
        <span class="hds-button__label">{{ 'Refine search'|t({}, {'context': 'Project list, refine search'}) }}</span>
      </a>
    {% endif %}
  </div>


  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>
