{{ attach_library('hdbt/sidebar-menu-toggle') }}

{% set section_menu_aria_controls = "section-navigation-menu-wrapper-" ~ random() %}
{% set section_menu_title_link = 'section-menu-title-link' ~ random() %}

<nav role="navigation" aria-labelledby="{{ heading_id }}"{{ attributes|without('role', 'aria-labelledby') }} class="sidebar-navigation sidebar-navigation--section-navigation">
  <div class="section-navigation__header">
    <h2{{ title_attributes.setAttribute('id', heading_id) }} class="sidebar-navigation__title section-navigation__title">
      {% set link_attributes = {
        'id': section_menu_title_link,
      } %}
      {{ link(parent_title, 'base:' ~ parent_url, link_attributes) }}
    </h2>
    <span class="section-navigation__toggle-wrapper">
      <button
        type="button"
        aria-expanded="false"
        aria-controls="{{ section_menu_aria_controls }}"
        aria-labelledby="{{ section_menu_title_link }}"
        aria-haspopup="true"
        class="menu__toggle-button">
        {% include '@hdbt/misc/icon.twig' with {icon: 'angle-down', class: 'menu__toggle-button-icon'} %}
      </button>
    </span>
  </div>
  <div class="section-navigation__menu-wrapper" id=" {{ section_menu_aria_controls }}">
    {% block content %}
      {% set items = navigation %}
      {% embed "@hdbt/navigation/menu.html.twig" with {auto_open: true, allow_collabsible: true} %}{% endembed %}
    {% endblock %}
  </div>
</nav>
